body {
	background: #282828;
	color: #eee;
	font-family: Arial, sans-serif;
	margin: 8px;
}

.form-row {
	margin: 5px 0;
	display: flex;
	align-items: center;
}

.form-row label {
	width: 110px;
}

.form-row input, .form-row select {
	flex: 1;
	padding: 3px;
	margin-left: 5px;
}

#applyBtn {
	margin-top: 10px;
	padding: 5px 10px;
}